.blend{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .navbar-blend{
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 35px;
        font-family: 'Montserrat';
    }

    .room-name{
        display: flex;
        flex-direction: column;
        
    }
}